<h1>New Deck</h1>

<div style='pointer-events:auto;'>
	<%= simple_form_for @deck do |f| %>
	  <%= f.input :name %>
	  <%= f.input :template, :collection => @template_names %>
		<% if user_signed_in? %>
			<%= f.hidden_field :user_id, current_user.id %>
		<% end %>
	  <%= f.button :submit %>
	<% end %>
</div>
