<!DOCTYPE html>
<html>
<head>
  <title>Impressi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Impressi: Impressing you while impressing others</h1>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if signed_in? %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% end %>

<%= yield %>

<%= debug params %>
<%= debug current_user %>
<%= javascript_include_tag "impress.js" %>
</body>
</html>
